app:
  replicaCount: 4
  deploymentName: frent-end-deployment
  env: front-end

service:
  name: frontend-service
  type: ClusterIP
  port: 5173

namespace:
  create: true
  name: qa-namespace

image:
  repository: nginx
  pullPolicy: IfNotPresent
  tag: ""
  containerPort: 5173
  containerName: frontendContainer

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 3
    maxUnavailable: 1

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  automount: true
  annotations: {}
  name: aks-sc-front-end
  provisioner: file.csi.azure.com

PersistentVolumeClaim:
  enabled: false
  name: aks-pvc

podAnnotations: {}
podLabels: {}

podSecurityContext: {}


securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources:
   limits:
     cpu: 100m
     memory: 128Mi
   requests:
     cpu: 100m
     memory: 128Mi

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80




