apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-helm-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/yourname/helm-kubernetes.git
    targetRevision: main
    path: helm-charts/my-app
    helm:
      values: |
        replicaCount: 2
        service:
          port: 90
          targetPort: 1199
  destination:
    server: https://kubernetes.default.svc
    namespace: backend
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
---