---
# Source: backend/templates/namespace.yaml
apiVersion: v1
kind: Namespace
metadata:
  name: qa
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: qa-deployment
    meta.helm.sh/release-namespace: default
---
# Source: backend/templates/resourceQuota.yaml
apiVersion: v1
kind: ResourceQuota
metadata:
  name: quota-with-limits
  namespace: qa
spec:
  hard:
    pods: "10"
    requests.cpu: "4"
    requests.memory: "4Gi"
    limits.cpu: "8"
    limits.memory: "8Gi"
---
# Source: backend/templates/limitrange.yaml
apiVersion: v1
kind: LimitRange
metadata:
  name: limit-range
  namespace: qa
spec:
  limits:
    - type: Container
      max:
        cpu: "2"
        memory: "2Gi"
      min:
        cpu: "500m"
        memory: "500Mi"
      default:
        cpu: "1"
        memory: "1Gi"
      defaultRequest:
        cpu: "500m"
        memory: "500Mi"
---
# Source: backend/templates/service.yml
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: qa
  labels:
    app: app-label
    env: dev
spec:
  type: NodePort
  selector:
    app: app-label
    env: dev
  ports:
    - protocol: TCP
      name: http
      port: 80
      targetPort: 1199
---
# Source: backend/templates/deployment.yml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: back-end
  namespace: qa
  labels:
    app: app-label
    env: dev
spec:
  selector:
    matchLabels:
      app: app-label
      env: dev
  replicas: 6
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 3
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: app-label
        env: dev
    spec:
      containers:
        - name: springbootcontainer
          image: "srinu641/spring-application-k8s:v1.02" #TODO ->< IMAGE NAME AND TAGS
          imagePullPolicy: Always
          ports:
            - containerPort: 1199
          resources:
            requests:
              cpu: "10m"
              memory: "64Mi"
            limits:
              cpu: "500m"
              memory: "356Mi"
---
# Source: backend/templates/namespace.yaml
#TODO -> while deploying application with namespace Helm label are Mandatory.
---
# Source: backend/templates/keda-hpa.yaml
#  When to use ✅ HTTP APIs
#✅ REST services
#✅ Ingress-based traffic
#✅ Scale-to-zero use cases
#TODO->  Client → KEDA HTTP Proxy → Buffer → Deployment
apiVersion: http.keda.sh/v1alpha1
kind: HTTPScaledObject
metadata:
  name: nginx-http-scaledobject
  namespace: qa
spec:
  host: myhost.com
  targetPendingRequests: 1
  scaleTargetRef:
    deployment: back-end
    service: backend-service
    port: 1199
  replicas:
    min: 1
    max: 25
