apiVersion: v1
kind: Service
metadata:
  name: backend-service
  labels:
    app: app-label
    version: v1.0.1
spec:
  type: NodePort
  selector:
    app: app-label
    version: v1.0.1
  ports:
    - protocol: TCP
      name: http
      port: 80
      targetPort: 1199
---