replicas: 5
restartPolicy: Always
deploymentName: back-end
image_port_number: 1199

service:
  serviceApp: backend-service
  types: NodePort
  targetPort: 1199
  port: 80

app:
  env: dev

image:
  repository: srinu641/spring-application-k8s
  tag: v1.02
  pullPolicy: IfNotPresent

container:
  containerName: springbootcontainer # container name must be lower case
  port: 1199

resources:
  requests:
    cpu: 400m
    memory: 64Mi
  limits:
    cpu: 500m
    memory: 356Mi

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 3
    maxUnavailable: 1

namespace:
  enabled: true
  name: qa-namespace

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 25
  name: backend-hpa

keda:
  enabled: true

resourceQuota:
  enabled: false
  name: quota-with-limits
  hard:
    replicas: "100"
    requestsCpu: "1"
    requestsMemory: "4Gi"
    limitsCpu: "3"
    limitsMemory: "8Gi"

limitRange:
  enabled: false
  name: limit-range
  container:
    max:
      cpu: "2"
      memory: "2Gi"
    min:
      cpu: "800m"
      memory: "500Mi"
    default:
      cpu: "1"
      memory: "1Gi"
    defaultRequest:
      cpu: "500m"
      memory: "500Mi"


livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

serviceAccount:
  create: false
  automount: true
  annotations: { }
  name: ""

volumes: [ ]
volumeMounts: [ ]
nodeSelector: { }
tolerations: [ ]
affinity: { }

initContainers:
  - name: wait-for-mysql
    image: mysql:8.0
    command:
      - sh
      - -c
      - |
        echo "Waiting for MySQL to be ready..."
        until mysqladmin ping \
          -h "$DB_HOST" \
          -u "$DB_USER" \
          -p"$DB_PASSWORD" \
          --silent; do
          echo "MySQL not ready, retrying..."
          sleep 5
        done
        echo "MySQL is ready!"

securityContext: { }
# capabilities:
#   drop:
#   - ALL
# readOnlyRootFilesystem: true
# runAsNonRoot: true
# runAsUser: 1000

ingress:
  enabled: true
  className: nginx-example
  name: app-ingress


networkPolicy:
  enabled: true
  name: application-network-policy
  podSelector:
    matchLabels:
      app: app-label
  ingress:
    enabled: true
  egress:
    enabled: true

---