replicas: 11
restartPolicy: Always
deploymentName: back-end
image_port_number: 1199

service:
  serviceApp: backend-service
  types: NodePort
  targetPort: 1199
  port: 80

app:
  env: dev

image:
  repository: srinu641/spring-application-k8s
  tag: v1.02
  pullPolicy: IfNotPresent

container:
  containerName: springbootcontainer # container name must be lower case
  port: 1199

compute:
  requests:
    memory: "64Mi"
    cpu: "800m"
  limits:
    memory: "356Mi"
    cpu: "900m"

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0

namespace:
  enabled: true
  name: qa

hpa:
  enabled: false
  name: backend-hpa
  minReplicas: 3
  maxReplicas: 15
  averageUtilization: 70


