replicas: 5
restartPolicy: Always
deploymentName: back-end
image_port_number: 1199

service:
  serviceApp: backend-service
  types: NodePort
  targetPort: 1199
  port: 80

app:
  env: dev

image:
  repository: srinu641/spring-application-k8s # Your default image repository
  pullPolicy: IfNotPresent
  tag: v1.02 # A default tag that will be overridden by the pipeline

container:
  containerName: springbootcontainer # container name must be lower case
  port: 1199

compute:
  requests:
    memory: "64Mi"
    cpu: "10m"
  limits:
    memory: "356Mi"
    cpu: "500m"

namespace:
  enabled: true
  name: qa

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0



hpa:
  enabled: false
  name: backend-hpa
  minReplicas: 3
  maxReplicas: 15
  averageUtilization: 70


