replicas: 5
restartPolicy: Always
deploymentName: back-end
image_port_number: 1199

service:
  serviceApp: backend-service
  types: NodePort
  targetPort: 1199
  port: 80

app:
  env: dev

image:
  repository: srinu641/spring-application-k8s
  tag: v1.02
  pullPolicy: IfNotPresent

container:
  containerName: springbootcontainer # container name must be lower case
  port: 1199

resources:
  requests:
    cpu: 400m
    memory: 64Mi
  limits:
    cpu: 500m
    memory: 356Mi

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 3
    maxUnavailable: 1

namespace:
  enabled: true
  name: future-namespace

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 25
  name: backend-hpa

keda:
  enabled: true

resourceQuota:
  enabled: false
  name: quota-with-limits
  hard:
    replicas: "100"
    requestsCpu: "1"
    requestsMemory: "4Gi"
    limitsCpu: "3"
    limitsMemory: "8Gi"

limitRange:
  enabled: false
  name: limit-range
  container:
    max:
      cpu: "2"
      memory: "2Gi"
    min:
      cpu: "800m"
      memory: "500Mi"
    default:
      cpu: "1"
      memory: "1Gi"
    defaultRequest:
      cpu: "500m"
      memory: "500Mi"


livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

serviceAccount:
  create: false
  automount: true
  annotations: {}
  name: ""

volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}


securityContext:
  runAsNonRoot: true
  readOnlyRootFilesystem: true
  runAsUser: 1000
  privileged: false

ingress:
  enabled: true
  className: haproxy
  name: ha-proxy-app
  annotations:
    haproxy.org/ingress.class: "haproxy"
    haproxy.org/rate-limit-requests: "10"
    haproxy.org/rate-limit-period: 1s
    haproxy.org/rate-limit-status-code: "429"
    haproxy.org/rate-limit-size: "1000000"
    qos.projectcalico.org/egressBandwidth: 100M
    qos.projectcalico.org/egressBurst: 200M


networkPolicy:
  enabled: true
  name: application-network-policy
  podSelector:
    matchLabels:
      app: app-label
  ingress:
    enabled: true
  egress:
    enabled: true

---