replicas: 6
restartPolicy: Always
deploymentName: back-end
image_port_number: 1199

service:
  serviceApp: backend-service
  types: NodePort
  targetPort: 1199
  port: 80

app:
  env: dev

image:
  repository: srinu641/spring-application-k8s
  tag: v1.02
  pullPolicy: IfNotPresent

container:
  containerName: springbootcontainer # container name must be lower case
  port: 1199

resources:
  requests:
    cpu: 10m
    memory: 64Mi
  limits:
    cpu: 500m
    memory: 356Mi

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 3
    maxUnavailable: 1

namespace:
  enabled: true
  name: dev-namespace

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 20
  name: backend-hpa

keda:
  enabled: true

resourceQuota:
  enabled: true
  name: quota-with-limits
  hard:
    pods: "10"
    requestsCpu: "4"
    requestsMemory: "4Gi"
    limitsCpu: "8"
    limitsMemory: "8Gi"

limitRange:
  enabled: true
  name: limit-range
  container:
    max:
      cpu: "2"
      memory: "2Gi"
    min:
      cpu: "500m"
      memory: "500Mi"
    default:
      cpu: "1"
      memory: "1Gi"
    defaultRequest:
      cpu: "500m"
      memory: "500Mi"

