namespace: spring

app:
  label: backend

rollout:
  app:
    env: prod
  name: backend
  namespace: argo-cd-rollout-prod-namespace
  replicas: 10
  strategy:
    canary:
      steps:
        - setWeight: 20
        - pause:
            duration: 20m   # 20 minutes
        - analysis:
            enabled: true
            templates:
              - templateName: error-rate
        - setWeight: 40
        - pause:
            duration: 15m    # 15 minutes
        - setWeight: 60
        - pause:
            duration: 20m   # 20 minutes
        - analysis:
            enabled: true
            templates:
              - templateName: latency
        - setWeight: 80
        - pause:
            duration: 600s    # 10 minutes
        - setWeight: 100

# TODO ->  Deployment label should be match with rollout label if you want to rollout you new version
container:
  name: backend
  image: myrepo/backend:v2
  tag: v.20
  port: 8080
