namespace: spring

app:
  label: backend

rollout:
  name: backend
  replicas: 10
  strategy:
    canary:
      steps:
        - setWeight: 20
        - pause:
            duration: 1200s   # 20 minutes
        - analysis:
            templates:
              - templateName: error-rate

        - setWeight: 40
        - pause:
            duration: 15m    # 15 minutes

        - setWeight: 60
        - pause:
            duration: 20m   # 20 minutes
        - analysis:
            templates:
              - templateName: latency

        - setWeight: 80
        - pause:
            duration: 600s    # 10 minutes

        - setWeight: 100

container:
  name: backend
  image: myrepo/backend:v2
  port: 8080
